<div class="max-w-xs rounded-lg overflow-hidden shadow-lg bg-white transform transition-all hover:scale-105">
  <img [src]="news.urlToImage" alt="News Image" class="w-full h-48 object-cover object-center" />

  <div class="p-6">
    <h2 class="text-xl font-bold text-[#800000] mb-2">{{ news.title }}</h2>
    <p class="text-gray-700 mb-4">{{ news.description }}</p>
    <p class="text-sm text-gray-500 mb-6">Published on: {{ news.publishedAt }}</p>
    <div class="flex justify-center space-x-4 mt-4">
      <button
        (click)="confirmDelete(news.id)"
        class="text-red-500 hover:text-red-700 focus:outline-none"
      >
        <i class="fas fa-trash-alt"></i>
      </button>
      <button
        (click)="deleteNews(news.id)"
        class="text-gray-500 hover:text-gray-700 focus:outline-none"
      >
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </div>
</div>
